<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MapSuiteDependency-GeoAPI" version="10.2.1" targetFramework="xamarinios10" />
  <package id="MapSuiteDependency-NetTopologySuite" version="10.2.1" targetFramework="xamarinios10" />
  <package id="MapSuiteDependency-SqliteForMono" version="10.2.1" targetFramework="xamarinios10" />
  <package id="MapSuiteMobileForiOS-BareBone" version="11.0.0-beta037" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite" version="11.0.0-beta065" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.ShapeFile" version="11.0.0-beta008" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Layers.SqliteForMono" version="11.0.0-beta015" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Routing" version="11.0.0-beta012" targetFramework="xamarinios10" />
  <package id="ThinkGeo.MapSuite.Styles.WorldStreets" version="11.0.0-beta005" targetFramework="xamarinios10" />
</packages>